
logs/
service_account.json
nepse_env/
venv/
.env/
.venv/
wsl_venv/
__pycache__/
output/
*.pyc
*.pyo
.DS_Store
Thumbs.db
.env
nrb_pdfs/
*.csv
research/

*.sql/

SQL backup/

*.bak

*.sql
*.dump

