anthropic
gspread
google-auth
google-auth-oauthlib
requests
python-telegram-bot
pdfplumber
pytz
playwright
python-dotenv
beautifulsoup4
lxml
openai
google-generativeai
psycopg2-binary
pandas
numpy
windows-curses
python-telegram-bot==21.6
nepali-datetime
statsmodels
httpx==0.27.0
fastapi
uvicorn[standard]
pydantic